<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/car_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [19]:
data = pd.read_csv('/car_prices (1).csv')

In [23]:
data.head(10)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350.0,10900.0,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,34.0,14943.0,black,black,the hertz corporation,69000.0,65000.0,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900.0,9800.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,42.0,9557.0,white,black,audi mission viejo,32100.0,32250.0,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300.0,17500.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [25]:
data.value_counts('body')

body
Sedan          199437
SUV            119292
sedan           41906
suv             24552
Hatchback       21380
                ...
CTS-V Wagon         1
g37 coupe           1
cts wagon           1
cab plus 4          1
Ram Van             1
Name: count, Length: 87, dtype: int64

In [27]:
data.shape[0]

558837

In [43]:
data['body'].lower()

AttributeError: 'Series' object has no attribute 'lower'

In [31]:
data.value_counts('model')

model
Altima     19349
F-150      14479
Fusion     12946
Camry      12545
Escape     11861
           ...
Paseo          1
Q3             1
Ram Van        1
Regency        1
1              1
Name: count, Length: 973, dtype: int64

In [34]:
data.groupby('year')['model'].value_counts()

year  model
1984  corvette     1
1985  corvette     2
1986  corvette     1
      420sel       1
1987  300e         1
                  ..
2015  BRZ          1
      Q3           1
      Armada       1
      Q60 Coupe    1
      A8           1
Name: count, Length: 5525, dtype: int64

In [40]:
data.groupby('year')['model'].value_counts().sort_values(ascending = False)

year  model
2012  Altima    8353
2013  Altima    5168
2012  Fusion    4089
2013  Escape    4054
      Fusion    3629
                ...
2005  neon         1
      optra        1
      pt           1
2006  allure       1
2015  A8           1
Name: count, Length: 5525, dtype: int64

In [ ]:
# Quantity sold per model per year
# this is about a trend using linecharts (groupby will not work) instead use

In [41]:
# Most expensive car model- but more specific use Prices per model(General)

data.groupby('model')['price'].average
# using distribution on boxplot

KeyError: 'Column not found: price'

In [ ]:
# Production over time.

In [ ]:
# Age at sale - pricing

In [ ]:
# Body over time

In [ ]:
# trending sellingprice and MMR