<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandas4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex2 - Getting and Knowing your Data
This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [1]:
# Step 1. Import the necessary libraries

import pandas as pd
import numpy as np

In [3]:
# Step 2. Import the dataset from this address.

df = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [ ]:
# Step 3. Assign it to a variable called chipo.

chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

print(chipo.head())

In [ ]:
#Step 4. See the first 10 entries

print(chipo.head(10))

In [7]:
# Step 5. What is the number of observations in the dataset?

num_observations = chipo.shape[0]
print("Number of observations in the dataset:", num_observations)

num_observations = len(chipo)
print("Number of observations in the dataset:", num_observations)

Number of observations in the dataset: 4622
Number of observations in the dataset: 4622

In [8]:
# Step 6. What is the number of columns in the dataset?

num_columns = chipo.shape[1]
print("Number of columns in the dataset:", num_columns)

Number of columns in the dataset: 5

In [9]:
# Step 7. Print the name of all the columns.
print("Names of all the columns:")
print(chipo.columns)

Names of all the columns:
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [11]:
# Step 8. How is the dataset indexed?
print("Index of the dataset:")
print(chipo.index)

Index of the dataset:
RangeIndex(start=0, stop=4622, step=1)

In [12]:
# Step 9. Which was the most-ordered item?

# Group the data by item name and sum up the quantities ordered for each item
most_ordered_item = chipo.groupby('item_name')['quantity'].sum()

# Find the item with the highest total quantity ordered
most_ordered_item = most_ordered_item.idxmax()

print("The most-ordered item is:", most_ordered_item)

The most-ordered item is: Chicken Bowl

In [ ]:
# Step 10. For the most-ordered item, how many items were ordered?

# Filter the DataFrame for the most-ordered item
most_ordered_item_data = chipo[chipo['item_name'] == most_ordered_item]

# Sum up the quantities ordered for the most-ordered item
num_items_ordered = most_ordered_item_data['quantity'].sum()

print("Number of", most_ordered_item, "ordered:", num_items_ordered)

In [14]:
# Step 11. What was the most ordered item in the choice_description column?
# Group the data by choice description and sum up the quantities ordered for each description
most_ordered_choice = chipo.groupby('choice_description')['quantity'].sum()

# Find the choice description with the highest total quantity ordered
most_ordered_choice = most_ordered_choice.idxmax()

print("The most-ordered item in the choice_description column is:", most_ordered_choice)

The most-ordered item in the choice_description column is: [Diet Coke]

In [15]:
# Step 12. How many items were orderd in total?

# Sum up the quantities ordered for all items in the dataset
total_items_ordered = chipo['quantity'].sum()

print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

In [16]:
# Step 13. Turn the item price into a float

# Remove the dollar sign ('$') from the item_price column and convert to float
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [17]:
# Step 13.a. Check the item price type

item_price_type = chipo['item_price'].dtype

print("Data type of the 'item_price' column:", item_price_type)

Data type of the 'item_price' column: float64

In [29]:
# Step 13.b. Create a lambda function and change the type of item price

#Check if the values in 'item_price' column are already floats
if not chipo['item_price'].dtype == float:
    # Create a lambda function to convert item_price to float
    convert_to_float = lambda x: float(x[1:])

    # Apply the lambda function to the 'item_price' column
    chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

In [19]:
# Step 13.c. Check the item price type

item_price_type = chipo['item_price'].dtype

print("Data type of the 'item_price' column:", item_price_type)

Data type of the 'item_price' column: float64

In [20]:
# Step 14. How much was the revenue for the period in the dataset?

# Calculate revenue by multiplying quantity and item price, and then summing up the results
revenue = (chipo['quantity'] * chipo['item_price']).sum()

print("Revenue for the period in the dataset:", revenue)

Revenue for the period in the dataset: 39237.02

In [21]:
#Step 15. How many orders were made in the period?

# Count the number of unique order IDs
num_orders = chipo['order_id'].nunique()

print("Number of orders made in the period:", num_orders)

Number of orders made in the period: 1834

In [25]:
# Step 16. What is the average revenue amount per order?

# Calculate average revenue amount per order
average_revenue_per_order = revenue / num_orders

print("Average revenue amount per order:", average_revenue_per_order)


# Group the data by order ID and calculate the revenue for each order
order_revenue = chipo.groupby('order_id')[['quantity', 'item_price']].agg({'quantity': 'sum', 'item_price': 'sum'})

# Calculate the average revenue amount per order
average_revenue_per_order = order_revenue['item_price'].mean()

print("Average revenue amount per order:", average_revenue_per_order)

Average revenue amount per order: 21.39423118865867
Average revenue amount per order: 18.811428571428568

In [24]:
# Step 17. How many different items are sold?

# Count the number of unique item names
num_unique_items = chipo['item_name'].nunique()

print("Number of different items sold:", num_unique_items)

Number of different items sold: 50