<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandas4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex3 - Getting and Knowing your Data
This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [6]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
# Step 2. Import the dataset from this address.

df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
print(df.head())

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [ ]:
# Step 3. Assign it to a variable called users and use the 'user_id' as index

# Import the dataset and set 'user_id' as index
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|')
users = users.set_index('user_id')

# Print the first few rows of the DataFrame
print(users.head())

In [ ]:
# Step 4. See the first 25 entries

print(users.head(25))

In [ ]:
# Step 5. See the last 10 entries

print(users.tail(10))

In [12]:
# Step 6. What is the number of observations in the dataset?

num_observations = users.shape[0]
print("Number of observations in the dataset:", num_observations)

Number of observations in the dataset: 943

In [13]:
# Step 7. What is the number of columns in the dataset?

num_columns = users.shape[1]
print("Number of columns in the dataset:", num_columns)

Number of columns in the dataset: 4

In [14]:
# Step 8. Print the name of all the columns.

print("Names of all the columns:")
print(users.columns)

Names of all the columns:
Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [15]:
# Step 9. How is the dataset indexed?


print("Index of the dataset:")
print(users.index)

Index of the dataset:
Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

In [ ]:
# Step 10. What is the data type of each column?

print("Data types of each column:")
print(users.dtypes)

In [ ]:
# Step 11. Print only the occupation column

print(users.loc[:, 'occupation'])
print(users['occupation'])

In [ ]:
# Step 12. How many different occupations are in this dataset?

num_unique_occupations = users['occupation'].nunique()
print("Number of different occupations:", num_unique_occupations)

In [21]:
# Step 13. What is the most frequent occupation?

most_frequent_occupation = users['occupation'].value_counts().idxmax()
print("The most frequent occupation is:", most_frequent_occupation)

The most frequent occupation is: student

In [ ]:
# Step 14. Summarize the DataFrame.

summary = users.describe()
print(summary)

In [ ]:
# Step 15. Summarize all the columns

summary_all_columns = users.info()
print(summary_all_columns)

In [ ]:
# Step 16. Summarize only the occupation column

occupation_summary = users['occupation'].value_counts()
print(occupation_summary)

In [ ]:
# Step 17. What is the mean age of users?

mean_age = users['age'].mean()
print("Mean age of users:", mean_age)

In [ ]:
#Step 18. What is the age with least occurrence?

least_occurred_age = users['age'].value_counts().idxmin()
print("Age with least occurrence:", least_occurred_age)