<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/Pandas2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Occupation
Introduction:
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [3]:
# Step 1. Import the necessary libraries

import pandas as pd

In [2]:
# Step 2. Import the dataset from this address.

df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

# df contains your dataset and you can perform operations on it
print(df.head())

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [4]:
# Step 3. Assign it to a variable called users.

drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
print(drinks.head())

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [ ]:
# Step 4. Discover what is the mean age per occupation

In [ ]:
# Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [ ]:
# Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
# Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
# Step 8. For each occupation present the percentage of women and men