<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandasweeklyproject_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Iris
Introduction:
This exercise may seem a little bit strange, but keep doing it.

In [2]:
# Step 1. Import the necessary libraries

import pandas as pd

In [3]:
# Step 2. Import the dataset from this address.

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [4]:
# Step 3. Assign it to a variable called iris

iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [ ]:
# Step 4. Create columns for the dataset
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

# Creating columns for the dataset
iris.columns = ['sepal_length (cm)', 'sepal_width (cm)', 'petal_length (cm)', 'petal_width (cm)', 'class']
print(iris.columns)

In [ ]:
#Step 5. Is there any missing value in the dataframe?

# Checking for missing values
missing_values = iris.isnull().any().any()

if missing_values:
    print("Yes, there are missing values in the dataframe.")
else:
    print("No, there are no missing values in the dataframe.")

In [8]:
# Step 6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

# Setting the values of rows 10 to 29 of the column 'petal_length' to NaN
iris.loc[10:29, 'petal_length (cm)'] = float('nan')

In [9]:
# Step 7. Good, now lets substitute the NaN values to 1.0

# Substituting NaN values with 1.0
iris.fillna(1.0, inplace=True)

In [10]:
# Step 8. Now let's delete the column class

# Deleting the column 'class'
iris.drop('class', axis=1, inplace=True)

In [11]:
# Step 9. Set the first 3 rows as NaN

# Setting the first 3 rows of the DataFrame to NaN
iris.iloc[:3, :] = float('nan')

In [12]:
# Step 10. Delete the rows that have NaN

# Deleting rows with NaN values
iris.dropna(inplace=True)

In [13]:
# Step 11. Reset the index so it begins with 0 again

# Resetting the index
iris.reset_index(drop=True, inplace=True)