<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandas3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MPG Cars
Introduction:
The following exercise utilizes data from UC Irvine Machine Learning Repository

In [1]:
#Step 1. Import the necessary libraries

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Step 2. Import the first dataset cars1 and cars2.

df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')

df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [3]:
# Step 3. Assign each to a variable called cars1 and cars2

cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [ ]:
print(cars1.head())
print(cars2.head())

In [14]:
# Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

cars1 = cars1.dropna(axis=1, how='all')

print(cars1)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
193  24.0          6           200         81    3012          17.6     76
194  22.5          6           232         90    3085          17.6     76
195  29.0          4            85         52    2035          22.2     76
196  24.5          4            98         60    2164          22.1     76
197  29.0          4            90         70    1937          14.2     76

     origin                        car
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
193       1              ford maverick
194       1                 amc hornet
195       1         chevrolet chevette
196       1            chevrolet woody
197       2                  vw rabbit

[198 rows x 9 columns]

In [5]:
# Step 5. What is the number of observations in each dataset?

num_obs_cars1 = cars1.shape[0]
num_obs_cars2 = cars2.shape[0]

print("Number of observations in cars1:", num_obs_cars1)
print("Number of observations in cars2:", num_obs_cars2)

Number of observations in cars1: 198
Number of observations in cars2: 200

In [11]:
# Step 6. Join cars1 and cars2 into a single DataFrame called cars

cars = pd.concat([cars1, cars2], ignore_index=True)

print(cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
393       1            ford mustang gl
394       2                  vw pickup
395       1              dodge rampage
396       1                ford ranger
397       1                 chevy s-10

[398 rows x 9 columns]

In [12]:
# Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

# Create a random number Series for 'owners'
owners = np.random.randint(15000, 73001, size=len(cars))

# Assign the Series to the 'owners' column in the 'cars' DataFrame
cars['owners'] = owners
print(owners)

[25472 40257 24147 56670 34698 51107 54278 20994 17814 44279 42444 67800
 46456 40548 17974 40814 64369 66996 58339 44436 34907 67492 34323 59064
 53747 24949 62926 44397 25316 33332 30723 58734 52357 25602 21877 24744
 62210 45381 53790 43567 41972 28246 67372 36711 42283 32293 66126 54143
 50884 56135 28771 69129 44865 61537 41032 18248 63702 53963 55524 53124
 52499 55439 55815 55875 40916 26473 44438 49187 34038 57659 51956 37566
 53004 52917 18652 39183 25028 23767 42110 21976 71592 35301 37973 15896
 54370 35509 21774 37357 70270 19556 59667 40265 48731 23783 34644 61664
 20832 41972 30963 29166 16269 26227 42953 50928 30846 22794 47393 65374
 19928 35860 28241 23182 62876 68751 63482 69411 61820 52540 66743 61978
 32843 39595 33358 46161 33921 60699 48838 53269 59670 63278 49608 49585
 67065 55684 54682 41619 35072 46844 21359 24466 55486 24085 58960 31737
 69275 25141 25995 48705 55080 70810 63310 41591 30067 68573 26544 60429
 30794 63371 58593 28107 53207 37413 21600 65471 46425 64859 16280 47299
 38536 32884 66421 24092 21145 41191 17832 41568 60190 60667 36508 34229
 65626 46677 33413 38786 21885 50014 58141 48224 37642 46968 29732 35045
 18740 68617 16357 65694 20764 39150 20492 37297 26337 15200 32582 36913
 42146 34892 71242 54163 49731 30493 60448 15386 17921 25532 16477 46711
 49356 50522 41036 45499 27439 67204 58223 72967 33672 57532 17367 27924
 33030 28411 56200 16216 26591 33486 72960 66348 45966 43425 22436 71160
 65985 18680 26683 25357 67840 54527 59132 71974 50693 43221 50630 15741
 31711 50919 31619 50463 58235 59991 72766 33221 67097 43762 27383 48021
 51720 44627 60143 28808 26930 42072 36724 48393 24992 26193 57694 55240
 30788 64515 24900 59590 42612 71714 23530 33201 19494 57883 47318 64355
 69172 54694 23889 63472 35989 66681 33377 55781 50346 72534 37002 22826
 45528 18104 65857 21122 33694 55352 65236 32005 44418 56809 25371 17905
 63547 70217 27067 43133 61506 64537 40181 68694 39373 71075 58694 59970
 55000 28738 31468 26720 44122 35970 36332 47015 44695 57207 63132 36153
 67292 53313 37302 45258 56610 52057 50792 50263 72032 26878 41454 40616
 60349 57614 19221 49934 62010 71262 27796 57121 44250 16783 55616 54166
 30857 27266 67992 33635 32604 34859 66204 35230 62309 31375 66137 71348
 26651 61143 71790 71849 27375 27011 59985 39193 64270 66854 44149 44382
 71801 17092 61328 70240 67973 22256 37691 20817 71697 50378 48708 46091
 40128 44445]

In [13]:
# Step 8. Add the column owners to cars

# Create a random number Series for 'owners'
owners = np.random.randint(15000, 73001, size=len(cars))

# Add the 'owners' column to the 'cars' DataFrame
cars['owners'] = owners
print(owners)

[66222 27756 66462 53511 42048 66292 35672 21324 33168 48352 70908 24892
 22961 71179 62477 59601 53388 28123 43011 62404 43727 40429 16250 65747
 33607 55827 54693 23874 31128 66083 66267 65734 46142 30594 54389 37673
 59013 37873 29759 36615 31043 19084 35279 15829 54879 38073 16760 18802
 70541 32630 72614 50926 53672 46917 55024 52719 41773 46025 52993 59693
 49613 39497 61050 33772 53040 68297 53994 64403 37064 43525 62492 17062
 29344 63626 25267 68041 67526 62832 50566 65156 38777 29221 17063 60649
 36961 41166 63965 59465 71642 16120 37956 51313 71181 33522 16065 72138
 25057 19308 61933 53124 43706 37306 66646 50095 52476 46769 70917 51534
 67402 62232 69896 57404 23293 69564 66424 34779 50212 33159 71907 46385
 40720 41162 62712 43777 47707 30757 55238 21803 23128 45553 31473 60144
 44374 70696 23084 59988 36328 59230 68473 65809 21821 51919 53016 31957
 66707 44958 26930 35653 58760 54209 64507 43139 57741 51070 64275 48975
 48470 23266 34917 33273 44070 24144 70807 31302 62183 33709 65954 31881
 52267 57080 21800 22420 29233 37934 40885 30860 18750 61218 47793 30803
 25163 15589 39592 39300 66949 44247 37210 45792 27978 63780 40472 15216
 44003 53688 27703 22350 28508 23347 29634 41124 30425 65170 29343 17337
 18466 64579 31721 29767 31075 70301 49465 39972 38578 38498 25297 45360
 68590 66008 52582 65519 28369 46648 60442 15844 71445 53389 70769 16246
 44468 20640 58888 64915 21098 32965 71470 27966 22466 48719 15262 40846
 25934 59020 68131 40587 16198 45721 63429 27115 29967 33826 58774 34556
 64863 32255 34050 48623 34572 37216 15045 58163 70527 24993 54683 52062
 53809 19562 65861 68128 36827 25320 67450 23162 21368 59125 34571 48352
 36736 15281 71753 71765 71505 40682 44295 46796 69534 72595 17369 30058
 40106 71080 62369 60020 69190 53706 43314 26883 30906 22867 59359 48315
 22502 48097 20014 18190 16515 51852 34099 35063 70779 51931 39394 18966
 29526 72983 68416 62278 43742 49298 67957 49143 43196 24158 61167 60123
 59788 44285 44056 57533 29007 57980 33771 65346 21303 22744 64703 48977
 55749 51007 45000 21081 46293 25630 32158 44295 69819 15994 53114 35950
 53212 49572 37388 53898 61170 15907 31984 47264 36147 67533 52756 66907
 28469 38259 50772 25059 30689 43441 48062 22561 43145 64017 27684 44245
 59947 40923 42251 22443 60133 49392 19762 67352 32261 24388 26118 22491
 43914 21116 47818 72838 65721 49594 52282 19115 28515 57133 44016 20948
 59555 35054]