<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex1 - Filtering and Sorting Data

In [1]:
# Step 1. Import the necessary libraries

import pandas as pd

In [ ]:
# Step 2. Import the dataset from this address  https://github.com/justmarkham

url = "https://github.com/justmarkham"

# Read the dataset into a pandas DataFrame
df = pd.read_csv(url, sep='|')

# df contains your dataset and you can perform operations on it
print(df.head())

In [6]:
# Step 3. Assign it to a variable called chipo.

url = "https://github.com/justmarkham"

# Read the dataset into a pandas DataFrame and assign it to variable 'chipo'
chipo = pd.read_csv(url, sep='\t')

# Now, 'chipo' contains your dataset and you can perform operations on it
print(chipo.head())

                                     <!DOCTYPE html>
0                                              <html
1                                          lang="en"
2    data-color-mode="auto" data-light-theme="lig...
3    data-a11y-animated-images="system" data-a11y...
4                                                  >

In [ ]:
# Step 4. How many products cost more than $10.00?

# Convert item_price to numeric after removing the '$' symbol
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

# Filter the dataset for products costing more than $10.00
expensive_items = chipo[chipo['item_price'] > 10.00]

# Count the number of products costing more than $10.00
num_expensive_items = len(expensive_items)

print("Number of products costing more than $10.00:", num_expensive_items)

In [ ]:
# Step 5. What is the price of each item?
# print a data frame with only two columns item_name and item_price

# Select only 'item_name' and 'item_price' columns
item_prices = chipo[['item_name', 'item_price']]

# Remove duplicate rows to get unique item prices
item_prices = item_prices.drop_duplicates()

# Display the DataFrame
print(item_prices)

In [ ]:
# Step 6. Sort by the name of the item

In [ ]:
# Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
# Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
# Step 9. How many times did someone order more than one Canned Soda?