<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandas3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Housing Market
Introduction:
This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

In [1]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# Step 2. Create 3 differents Series, each of length 100, as follows:
#The first a random number from 1 to 4
#The second a random number from 1 to 3
#The third a random number from 10,000 to 30,000

 #Create Series with random numbers
series1 = pd.Series(np.random.randint(1, 5, size=100))
series2 = pd.Series(np.random.randint(1, 4, size=100))
series3 = pd.Series(np.random.randint(10000, 30001, size=100))
print(series1)
print(series2)
print(series3)

In [ ]:
# Step 3. Let's create a DataFrame by joinning the Series by column

# Create DataFrame by joining the Series by column
df = pd.DataFrame({'Series1': series1, 'Series2': series2, 'Series3': series3})

# Display the DataFrame
print(df)

In [ ]:
# Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

# Rename the columns
df.rename(columns={'Series1': 'bedrs', 'Series2': 'bathrs', 'Series3': 'price_sqr_meter'}, inplace=True)

# Display the DataFrame with updated column names
print(df)

In [ ]:
# Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

# Concatenate the three Series vertically
bigcolumn = pd.concat([series1, series2, series3], axis=0)

# Convert the result to a DataFrame with one column
bigcolumn = pd.DataFrame(bigcolumn, columns=['bigcolumn'])

# Display the DataFrame
print(bigcolumn)

In [ ]:
# Step 6. Oops, it seems it is going only until index 99. Is it true?

#Yes,  correct. The index of bigcolumn goes up to 99 because the Series have 100 elements each.

In [9]:
#Step 7. Reindex the DataFrame so it goes from 0 to 299

# Reset the index of the DataFrame
bigcolumn.reset_index(drop=True, inplace=True)

# Display the DataFrame
print(bigcolumn)

     bigcolumn
0            3
1            3
2            2
3            2
4            4
..         ...
295      21657
296      16739
297      20869
298      25748
299      29983

[300 rows x 1 columns]