<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandas2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Regiment
Introduction:
Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials

In [1]:
# Step 1. Import the necessary libraries
import pandas as pd

In [2]:
# Step 2. Create the DataFrame with the following values:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [3]:
# Step 3. Assign it to a variable called regiment.
# Don't forget to name each column

# Create the DataFrame and assign it to the variable regiment
regiment = pd.DataFrame(raw_data)

# Display the DataFrame
print(regiment)

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [4]:
# Step 4. What is the mean preTestScore from the regiment Nighthawks?

# Filter the DataFrame for rows where the 'regiment' column is equal to "Nighthawks"
nighthawks_scores = regiment[regiment['regiment'] == 'Nighthawks']

# Calculate the mean preTestScore for the regiment "Nighthawks"
mean_preTestScore = nighthawks_scores['preTestScore'].mean()

# Print the mean preTestScore
print("Mean preTestScore for the regiment Nighthawks:", mean_preTestScore)

Mean preTestScore for the regiment Nighthawks: 15.25

In [5]:
# Step 5. Present general statistics by company

# Group the data by company and calculate the descriptive statistics
company_statistics = regiment.groupby('company').describe()

# Print the general statistics by company
print(company_statistics)

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [7]:
# Step 6. What is the mean of each company's preTestScore?

# Group the data by company and calculate the mean of preTestScore for each group
mean_preTestScore_by_company = regiment.groupby('company')['preTestScore'].mean()

# Print the mean of each company's preTestScore
print("Mean of each company's preTestScore:")
print(mean_preTestScore_by_company)

Mean of each company's preTestScore:
company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [8]:
# Step 7. Present the mean preTestScores grouped by regiment and company

# Group the data by both regiment and company and calculate the mean of preTestScore for each group
mean_preTestScores_grouped = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()

# Print the mean preTestScores grouped by regiment and company
print("Mean preTestScores grouped by regiment and company:")
print(mean_preTestScores_grouped)

Mean preTestScores grouped by regiment and company:
regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

In [9]:
# Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

# Group the data by both regiment and company and calculate the mean of preTestScore for each group
mean_preTestScores_grouped = regiment.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index()

# Print the mean preTestScores grouped by regiment and company without hierarchical indexing
print("Mean preTestScores grouped by regiment and company without hierarchical indexing:")
print(mean_preTestScores_grouped)

Mean preTestScores grouped by regiment and company without hierarchical indexing:
     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

In [10]:
# Step 9. Group the entire dataframe by regiment and company

# Group the entire DataFrame by both regiment and company
grouped_dataframe = regiment.groupby(['regiment', 'company'])

# Print the grouped DataFrame
for group, data in grouped_dataframe:
    print("\nGroup:", group)
    print(data)

Group: ('Dragoons', '1st')
   regiment company   name  preTestScore  postTestScore
4  Dragoons     1st  Cooze             3             70
5  Dragoons     1st  Jacon             4             25

Group: ('Dragoons', '2nd')
   regiment company    name  preTestScore  postTestScore
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

Group: ('Nighthawks', '1st')
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94

Group: ('Nighthawks', '2nd')
     regiment company    name  preTestScore  postTestScore
2  Nighthawks     2nd     Ali            31             57
3  Nighthawks     2nd  Milner             2             62

Group: ('Scouts', '1st')
  regiment company   name  preTestScore  postTestScore
8   Scouts     1st  Sloan             2             62
9   Scouts     1st  Piger             3             70

Group: ('Scouts', '2nd')
   regiment company   name  preTestScore  postTestScore
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

In [11]:
# Step 10. What is the number of observations in each regiment and company

# Group the data by both regiment and company and count the number of observations in each group
observations_count = regiment.groupby(['regiment', 'company']).size()

# Print the number of observations in each regiment and company
print("Number of observations in each regiment and company:")
print(observations_count)

Number of observations in each regiment and company:
regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

In [12]:
# Step 11. Iterate over a group and print the name and the whole data from the regiment

# Group the data by regiment
grouped_regiments = regiment.groupby('regiment')

# Iterate over each group and print the name and the whole data from the regiment
for regiment_name, regiment_data in grouped_regiments:
    print("\nRegiment:", regiment_name)
    print(regiment_data)

Regiment: Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

Regiment: Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62

Regiment: Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70