<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandasweeklyproject_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Apple Stock
Introduction:
We are going to use Apple's stock price.

In [1]:
# Step 1. Import the necessary libraries

import pandas as pd
import yfinance as yf

In [3]:
# Step 2. Import the dataset from this address

data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/09_Time_Series/Apple_Stock/appl_1980_2014.csv')

print(data.head())

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [ ]:
# Step 3. Assign it to a variable apple

In [ ]:
# Step 4. Check out the type of the columns

In [ ]:
# Step 5. Transform the Date column as a datetime type

In [ ]:
# Step 6. Set the date as the index

In [ ]:
# Step 7. Is there any duplicate dates?

In [ ]:
# Step 8. Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [ ]:
# Step 9. Get the last business day of each month

In [ ]:
# Step 10. What is the difference in days between the first day and the oldest

In [ ]:
# Step 11. How many months in the data we have?

In [ ]:
# Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches