<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandas3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Alcohol Consumption
Introduction:
This time you will download a dataset from the UCI.

In [1]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [9]:
# Step 2. Import the dataset from this address.

df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

In [15]:
#Step 3. Assign it to a variable called df.

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  At_home   Teacher  ...
1     GP   F   17       U     GT3       T     1     1  At_home     Other  ...
2     GP   F   15       U     LE3       T     1     1  At_home     Other  ...
3     GP   F   15       U     GT3       T     4     2   Health  Services  ...
4     GP   F   16       U     GT3       T     3     3    Other     Other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [10]:
# Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

df_sliced = df.loc[:, 'school':'guardian']

In [11]:
# Step 5. Create a lambda function that will capitalize strings.

capitalize_string = lambda x: x.capitalize()

In [12]:
# Step 6. Capitalize both Mjob and Fjob

df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(lambda x: x.capitalize())

In [ ]:
# Step 7. Print the last elements of the data set.
# This will print the last 5 rows by default

print(df.tail())

In [16]:
# Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].applymap(lambda x: x.capitalize())

In [17]:
# Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)

In [18]:
# Step 10. Multiply every number of the dataset by 10.
# I know this makes no sense, don't forget it is just an exercise

df = df.applymap(lambda x: x * 10 if isinstance(x, (int, float)) else x)