<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandasweeklyproject_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Getting Financial Data - Google Finance
Introduction:
This time you will get data from a website.

In [2]:
pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.25.2)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.4)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.4.1)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2024.2.2)

In [6]:
# Step 1. Import the necessary libraries
import yfinance as yf
import pandas as pd

In [3]:
# Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

# Define a start date and end date

start_date = '2015-01-01'
end_date = '2024-04-16'

In [4]:
# Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

# Define a ticker symbol and assign them to a variable called stocks
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'LNKD']

In [7]:
# Step 4. Read the data from google, assign to df and print it

# Downloading data from Google and assigning it to df
df = yf.download(stocks, start='2015-01-01', end='2024-04-16')

# Printing the DataFrame
print(df)

[*********************100%%**********************]  5 of 5 completed
ERROR:yfinance:
2 Failed downloads:
ERROR:yfinance:['LNKD']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2015-01-01 -> 2024-04-16)')
ERROR:yfinance:['TWTR']: Exception('%ticker%: No timezone found, symbol may be delisted')

Price        Adj Close                                         Close  \
Ticker            AAPL         IBM LNKD        TSLA TWTR        AAPL
Date
2015-01-02   24.435272  103.354858  NaN   14.620667  NaN   27.332500
2015-01-05   23.746889  101.728531  NaN   14.006000  NaN   26.562500
2015-01-06   23.749130   99.534645  NaN   14.085333  NaN   26.565001
2015-01-07   24.082140   98.884148  NaN   14.063333  NaN   26.937500
2015-01-08   25.007427  101.033379  NaN   14.041333  NaN   27.972500
...                ...         ...  ...         ...  ...         ...
2024-04-09  169.669998  189.309998  NaN  176.880005  NaN  169.669998
2024-04-10  167.779999  186.039993  NaN  171.759995  NaN  167.779999
2024-04-11  175.039993  185.899994  NaN  174.600006  NaN  175.039993
2024-04-12  176.550003  182.270004  NaN  171.050003  NaN  176.550003
2024-04-15  172.690002  181.250000  NaN  161.479996  NaN  172.690002

Price                                         ...        Open              \
Ticker             IBM LNKD        TSLA TWTR  ...        AAPL         IBM
Date                                          ...
2015-01-02  154.933075  NaN   14.620667  NaN  ...   27.847500  154.216064
2015-01-05  152.495224  NaN   14.006000  NaN  ...   27.072500  154.177826
2015-01-06  149.206497  NaN   14.085333  NaN  ...   26.635000  152.648178
2015-01-07  148.231354  NaN   14.063333  NaN  ...   26.799999  150.286804
2015-01-08  151.453156  NaN   14.041333  NaN  ...   27.307501  149.369019
...                ...  ...         ...  ...  ...         ...         ...
2024-04-09  189.309998  NaN  176.880005  NaN  ...  168.699997  190.539993
2024-04-10  186.039993  NaN  171.759995  NaN  ...  168.800003  187.419998
2024-04-11  185.899994  NaN  174.600006  NaN  ...  168.339996  186.039993
2024-04-12  182.270004  NaN  171.050003  NaN  ...  174.259995  184.000000
2024-04-15  181.250000  NaN  161.479996  NaN  ...  175.360001  185.570007

Price                                Volume
Ticker     LNKD        TSLA TWTR       AAPL      IBM LNKD       TSLA TWTR
Date
2015-01-02  NaN   14.858000  NaN  212818400  5779673  NaN   71466000  NaN
2015-01-05  NaN   14.303333  NaN  257142000  5104898  NaN   80527500  NaN
2015-01-06  NaN   14.004000  NaN  263188400  6429448  NaN   93928500  NaN
2015-01-07  NaN   14.223333  NaN  160423600  4918083  NaN   44526000  NaN
2015-01-08  NaN   14.187333  NaN  237458000  4431693  NaN   51637500  NaN
...         ...         ...  ...        ...      ...  ...        ...  ...
2024-04-09  NaN  172.910004  NaN   42451200  2794200  NaN  103232700  NaN
2024-04-10  NaN  173.039993  NaN   49709300  3081700  NaN   84532400  NaN
2024-04-11  NaN  172.550003  NaN   91070300  2861700  NaN   94516000  NaN
2024-04-12  NaN  172.339996  NaN  101593300  3545100  NaN   64506600  NaN
2024-04-15  NaN  170.240005  NaN   73531800  3528100  NaN  100245300  NaN

[2336 rows x 30 columns]

In [8]:
# Step 5. What is the type of structure of df ?

# Checking the type of structure of df
df_type = type(df)

print("Type of structure of df:", df_type)

Type of structure of df: <class 'pandas.core.frame.DataFrame'>

In [9]:
# Step 6. Print all the Items axis values
#To learn more about the Panel structure go to documentation

 #Printing all the Items axis values
items_axis_values = df.columns

print("Items axis values:")
print(items_axis_values)

Items axis values:
MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'LNKD'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'TWTR'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'LNKD'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'LNKD'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'LNKD'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'LNKD'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'LNKD'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR')],
           names=['Price', 'Ticker'])

In [10]:
# Step 7. Good, now we know the data avaiable. Create a dataFrame called vol, with the Volume values.

# Creating a DataFrame called vol with Volume values
vol = df['Volume'].copy()

print(vol)

Ticker           AAPL      IBM  LNKD       TSLA  TWTR
Date
2015-01-02  212818400  5779673   NaN   71466000   NaN
2015-01-05  257142000  5104898   NaN   80527500   NaN
2015-01-06  263188400  6429448   NaN   93928500   NaN
2015-01-07  160423600  4918083   NaN   44526000   NaN
2015-01-08  237458000  4431693   NaN   51637500   NaN
...               ...      ...   ...        ...   ...
2024-04-09   42451200  2794200   NaN  103232700   NaN
2024-04-10   49709300  3081700   NaN   84532400   NaN
2024-04-11   91070300  2861700   NaN   94516000   NaN
2024-04-12  101593300  3545100   NaN   64506600   NaN
2024-04-15   73531800  3528100   NaN  100245300   NaN

[2336 rows x 5 columns]

In [11]:
# Step 8. Aggregate the data of Volume to weekly
#Hint: Be careful to not sum data from the same week of 2015 and other years.

# Aggregating the Volume data to weekly frequency
weekly_vol = df['Volume'].resample('W').sum()

print(weekly_vol)

Ticker            AAPL       IBM  LNKD       TSLA  TWTR
Date
2015-01-04   212818400   5779673   0.0   71466000   0.0
2015-01-11  1133010000  25578884   0.0  340644000   0.0
2015-01-18  1216906400  24329751   0.0  461988000   0.0
2015-01-25   794948000  32682062   0.0  243175500   0.0
2015-02-01  1863370800  34442689   0.0  235803000   0.0
...                ...       ...   ...        ...   ...
2024-03-24   361530400  23967800   0.0  417965200   0.0
2024-03-31   237622700  15383300   0.0  346873600   0.0
2024-04-07   239021300  12881500   0.0  545575500   0.0
2024-04-14   322249600  14961000   0.0  451211000   0.0
2024-04-21    73531800   3528100   0.0  100245300   0.0

[486 rows x 5 columns]

In [12]:
# Step 9. Find all the volume traded in the year of 2015

volume_2015 = df.loc['2015', 'Volume'].sum()

print("Volume traded in the year 2015:", volume_2015)

Volume traded in the year 2015: Ticker
AAPL    5.226420e+10
IBM     1.156439e+09
LNKD    0.000000e+00
TSLA    1.632327e+10
TWTR    0.000000e+00
dtype: float64