<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/Pandas2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction:
GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this Diagram

In [11]:
# Step 1. Import the necessary libraries

import pandas as pd

In [12]:
# Step 2. Import the dataset from this address.

df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

# df contains your dataset and you can perform operations on it
print(df.head())

       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

In [14]:
# Step 3. Assign it to a variable called drinks.

drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

print(drinks.head())

       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

In [7]:
# Step 4. Which continent drinks more beer on average?

# Group the data by continent and calculate the mean beer servings
beer_by_continent = drinks.groupby('continent')['beer_servings'].mean()

# Find the continent with the highest average beer servings
continent_with_most_beer = beer_by_continent.idxmax()

# Display the result
print(f"The continent that drinks the most beer on average is {continent_with_most_beer} with an average of {beer_by_continent[continent_with_most_beer]} beer servings.")

The continent that drinks the most beer on average is EU with an average of 193.77777777777777 beer servings.

In [8]:
# Step 5. For each continent print the statistics for wine consumption.

# Group the data by continent and calculate the statistics for wine consumption
wine_statistics_by_continent = drinks.groupby('continent')['wine_servings'].describe()

# Display the statistics for wine consumption for each continent
print(wine_statistics_by_continent)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [ ]:
# Step 6. Print the mean alcohol consumption per continent for every column

# Group the data by continent and calculate the mean for each column
mean_alcohol_consumption = drinks.groupby('continent').mean()

# Display the mean alcohol consumption per continent for every column
print(mean_alcohol_consumption)

In [19]:
# Step 7. Print the median alcohol consumption per continent for every column

# Group the data by continent and calculate the median for each column
median_alcohol_consumption = drinks.groupby('continent').median()

# Display the median alcohol consumption per continent for every column
print(median_alcohol_consumption)

TypeError: could not convert string to float: 'Algeria'

In [17]:
# Step 8. Print the mean, min and max values for spirit consumption.
#This time output a DataFrame

# Calculate mean, min, and max values for spirit consumption
spirit_stats = drinks['spirit_servings'].agg(['mean', 'min', 'max'])

# Create a DataFrame to display the statistics
spirit_stats_df = pd.DataFrame(spirit_stats, columns=['Spirit Consumption'])

# Display the DataFrame
print(spirit_stats_df)

Empty DataFrame
Columns: [Spirit Consumption]
Index: []