<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/Pandas2_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Occupation
Introduction:
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [8]:
# Step 1. Import the necessary libraries

import pandas as pd

In [15]:
# Step 2. Import the dataset from this address.

df = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

# df contains your dataset and you can perform operations on it
print(df.head())

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [21]:
# Step 3. Assign it to a variable called users.

users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
print(users.head())

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [19]:
# Assign it to a variable called occupation.

occupation = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
print(occupation.head())

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [ ]:
# Step 4. Discover what is the mean age per occupation

# Group the data by occupation and calculate the mean age for each group
mean_age_per_occupation = users.groupby('occupation')['age'].mean()

# Print the mean age per occupation
print("Mean age per occupation:")
print(mean_age_per_occupation)

In [ ]:
# Step 5. Discover the Male ratio per occupation and sort it from the most to the least

# Create a new column 'is_male' indicating whether the user is male (1 for male, 0 for female)
users['is_male'] = (users['gender'] == 'M').astype(int)

# Group the data by occupation and calculate the male ratio for each group
male_ratio_per_occupation = users.groupby('occupation')['is_male'].mean()

# Sort the male ratio from the most to the least
male_ratio_per_occupation_sorted = male_ratio_per_occupation.sort_values(ascending=False)

# Print the male ratio per occupation sorted from the most to the least
print("Male ratio per occupation (sorted from most to least):")
print(male_ratio_per_occupation_sorted)

In [ ]:
# Step 6. For each occupation, calculate the minimum and maximum ages

# Group the data by occupation and calculate the minimum and maximum ages for each group
min_max_ages_per_occupation = users.groupby('occupation')['age'].agg(['min', 'max'])

# Print the minimum and maximum ages for each occupation
print("Minimum and maximum ages for each occupation:")
print(min_max_ages_per_occupation)

In [ ]:
# Step 7. For each combination of occupation and gender, calculate the mean age

# Group the data by both occupation and gender, and calculate the mean age for each group
mean_age_per_occupation_gender = users.groupby(['occupation', 'gender'])['age'].mean()

# Print the mean age for each combination of occupation and gender
print("Mean age for each combination of occupation and gender:")
print(mean_age_per_occupation_gender)

In [ ]:
# Step 8. For each occupation present the percentage of women and men

# Calculate the total number of users (both men and women) for each occupation
total_users_per_occupation = users.groupby('occupation')['gender'].count()

# Calculate the total number of women for each occupation
women_per_occupation = users[users['gender'] == 'F'].groupby('occupation')['gender'].count()

# Calculate the total number of men for each occupation
men_per_occupation = users[users['gender'] == 'M'].groupby('occupation')['gender'].count()

# Calculate the percentage of women and men for each occupation
percentage_women_per_occupation = (women_per_occupation / total_users_per_occupation) * 100
percentage_men_per_occupation = (men_per_occupation / total_users_per_occupation) * 100

# Create a DataFrame to store the results
gender_percentage_per_occupation = pd.DataFrame({
    'Percentage Women': percentage_women_per_occupation,
    'Percentage Men': percentage_men_per_occupation
})

# Print the percentage of women and men for each occupation
print("Percentage of Women and Men for Each Occupation:")
print(gender_percentage_per_occupation)