<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/pandasweeklyproject_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Wine
Introduction:
This exercise is a adaptation from the UCI Wine dataset. The only pupose is to practice deleting data with pandas.

In [11]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Step 2. Import the dataset from this address.

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

In [3]:
# Step 3. Assign it to a variable called wine

wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

In [4]:
# Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

# Deleting specified columns
wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1, inplace=True)

In [5]:
# Step 5. Assign the columns as below:
#The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):

# alcohol
# malic_acid
# alcalinity_of_ash
# magnesium
# flavanoids
# proanthocyanins
# hue

# Assigning new column names
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

In [6]:
# Step 6. Set the values of the first 3 rows from alcohol as NaN

# Setting the values of the first 3 rows of the 'alcohol' column to NaN
wine.loc[:2, 'alcohol'] = float('nan')

In [7]:
# Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

# Setting the values of the rows 3 and 4 of the 'magnesium' column to NaN
wine.loc[2:3, 'magnesium'] = float('nan')

In [8]:
# Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

# Filling NaN values with specified values
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)

In [ ]:
# Step 9. Count the number of missing values

# Counting the number of missing values
missing_values_count = wine.isnull().sum()

print("Number of missing values:")
print(missing_values_count)

In [ ]:
# Step 10. Create an array of 10 random numbers up until 10

# Creating an array of 10 random numbers up to 10
random_numbers = np.random.randint(10, size=10)

print("Array of random numbers:", random_numbers)

In [13]:
# Step 11. Use random numbers you generated as an index and assign NaN value to each of cell.

# Using random numbers as index and assigning NaN value to each corresponding cell
for index in random_numbers:
    wine.iloc[index] = np.nan

In [ ]:
# Step 12. How many missing values do we have?

# Counting the number of missing values
missing_values_count = wine.isnull().sum().sum()

print("Number of missing values:", missing_values_count)

In [15]:
# Step 13. Delete the rows that contain missing values

# Deleting rows with missing values
wine.dropna(inplace=True)

In [ ]:
# Step 14. Print only the non-null values in alcohol

# Printing only the non-null values in the 'alcohol' column
print(wine[wine['alcohol'].notnull()]['alcohol'])

In [17]:
# Step 15. Reset the index, so it starts with 0 again

# Resetting the index
wine.reset_index(drop=True, inplace=True)