<a href="https://colab.research.google.com/github/Ekawaka/PYTHON-DATA-ANALYSIS/blob/main/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex1 - Filtering and Sorting Data

In [9]:
# Step 1. Import the necessary libraries

import pandas as pdd

In [11]:
# Step 2. Import the dataset from this address  https://github.com/justmarkham


# Read the dataset into a pandas DataFrame
dff1 = pdd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

# df contains your dataset and you can perform operations on it
print(dff1.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [12]:
# Step 3. Assign it to a variable called chipo.


# Read the dataset into a pandas DataFrame and assign it to variable 'chipo'
chipo =  pdd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

# Now, 'chipo' contains your dataset and you can perform operations on it
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [13]:
# Step 4. How many products cost more than $10.00?

# Convert item_price to numeric after removing the '$' symbol
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

# Filter the dataset for products costing more than $10.00
expensive_items = chipo[chipo['item_price'] > 10.00]

# Count the number of products costing more than $10.00
num_expensive_items = len(expensive_items)

print("Number of products costing more than $10.00:", num_expensive_items)

Number of products costing more than $10.00: 1130

In [14]:
# Step 5. What is the price of each item?
# print a data frame with only two columns item_name and item_price

# Select only 'item_name' and 'item_price' columns
item_prices = chipo[['item_name', 'item_price']]

# Remove duplicate rows to get unique item prices
item_prices = item_prices.drop_duplicates()

# Display the DataFrame
print(item_prices)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

In [15]:
# Step 6. Sort by the name of the item

# Sort the DataFrame by the name of the item
chipo_sorted = chipo.sort_values(by='item_name')

# Display the sorted DataFrame
print(chipo_sorted)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

In [19]:
# Step 7. What was the quantity of the most expensive item ordered?


# Find the most expensive item
most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]

# Get the quantity of the most expensive item
quantity_of_most_expensive_item = most_expensive_item['quantity']

print("Quantity of the most expensive item ordered:", quantity_of_most_expensive_item)

Quantity of the most expensive item ordered: 15

In [20]:
# Step 8. How many times was a Veggie Salad Bowl ordered?

# Filter the DataFrame for rows where the item_name is 'Veggie Salad Bowl'
veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']

# Count the number of rows in the filtered DataFrame
number_of_veggie_salad_bowl_orders = veggie_salad_bowl_orders.shape[0]

print("Number of times a Veggie Salad Bowl was ordered:", number_of_veggie_salad_bowl_orders)

Number of times a Veggie Salad Bowl was ordered: 18

In [21]:
# Step 9. How many times did someone order more than one Canned Soda?

# Filter the DataFrame for rows where the item_name is 'Canned Soda' and the quantity is greater than 1
canned_soda_multiple_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

# Count the number of rows in the filtered DataFrame
number_of_canned_soda_multiple_orders = canned_soda_multiple_orders.shape[0]

print("Number of times someone ordered more than one Canned Soda:", number_of_canned_soda_multiple_orders)

Number of times someone ordered more than one Canned Soda: 20